doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="/dashboard.css")
  title SoloHQ
body
  #dashboard
    div !{header}
      
    main(id="main")
      aside(id="left-flap")
        input(type="text", placeholder="Links")
        input(type="text", placeholder="To do")
        input(type="text", placeholder="Dreams")
        input(type="text", placeholder="Fears")
        button(type="button") Feed
        button(type="button") Blog
        button(type="button") Journal
      article(id="workspace")
        form(id="registration" action="/register" method="get")
          input(type="text" placeholder="Email" name="un" required)
          input(type="password" placeholder="Password" name="pw" required)
          input(type="password" placeholder="Confirm Password" name="cpw" required)
          button(type="submit") Register
      aside(id="right-flap")
        #timer
        ul(id="pomodori")
          li(class="pomodoro", id="pomodoro1") Pomodoro 1
          li(class="pomodoro", id="pomodoro2") Pomodoro 2
          li(class="pomodoro", id="pomodoro3") Pomodoro 3
          li(class="pomodoro", id="pomodoro4") Pomodoro 4
          li(class="pomodoro", id="pomodoro5") Pomodoro 5
          li(class="pomodoro", id="pomodoro6") Pomodoro 6
  </div>
  script(src="/dashboard.js", charset="utf-8")
