doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="/dashboard.css")
  title SoloHQ
body
  #dashboard
    header(id="header")
      #standard
        h1 SoloHQ
        button(onclick="btnLogin()") Login
      #weekview
        div(class="day" id="day1")
        div(class="day" id="day2")
        div(class="day" id="day3")
        div(class="day" id="day4")
        div(class="day" id="day5")
        div(class="day" id="day6")
        div(class="day" id="day7")
      
    main(id="main")
      aside(id="left-flap")
        h1 Left Flap
      article(id="workspace")
        h1 Workspace
      aside(id="right-flap")
        h1 Right Flap
  </div>
  script(src="/dashboard.js", charset="utf-8")
