$dark-purple: #3b0d3b
$light-purple: #b247b2
$green: #6fc72e
$red: #e34d00

*
  margin: 0
  padding: 0

#dashboard
  background-color: $dark-purple
  display: flex
  flex-direction: column
  height: 100vh
  #main
    border-top: 2px solid $green
    height: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    #left-flap
      display: flex
      flex-flow: nowrap row
      align-items: center
      height: 100%
      #left-flap-content
        background-color: $dark-purple
        display: flex
        flex-flow: nowrap column
        justify-content: space-between
        border-right: 2px solid $green
        height: 100%
        #inputs
          display: flex
          flex-flow: nowrap column
          border-radius: 5px
          margin: 5px
          input
            padding: 5px
            background-color: $green
            padding: 5px
            border-color: $light-purple
            font-size: 20px
            font-weight: bold
            width: 200px
        #buttons
          display: flex
          flex-flow: nowrap column
          border-radius: 5px
          button
            border-radius: 5px
            padding: 10px
            margin: 2px
            font-size: 20px
            font-weight: bolder
            background-color: $green
            color: $dark-purple
      #left-arrow
        width: 0
        height: 0
        border: 10px solid $green
        border-top-color: transparent
        border-bottom-color: transparent
        border-right-color: transparent
        margin-left: 5px
        cursor: pointer
        &:hover
          border: 10px solid $red
          border-top-color: transparent
          border-bottom-color: transparent
          border-right-color: transparent

    #workspace
      display: flex
      justify-content: center
      align-items: center
      #registration
        display: flex
        flex-flow: nowrap column
        input
          margin: 5px
        button
          border-radius: 0
          padding: 10px
          margin: 5px
    #right-flap
      height: 100%
      display: flex
      flex-flow: nowrap row
      align-items: center
      #right-arrow
        width: 0
        height: 0
        border: 10px solid $green
        border-top-color: transparent
        border-bottom-color: transparent
        border-left-color: transparent
        margin-right: 5px
        cursor: pointer
        &:hover
          border: 10px solid $red
          border-top-color: transparent
          border-bottom-color: transparent
          border-left-color: transparent
      #right-flap-content
        display: flex
        flex-flow: nowrap column
        border-left: 2px solid $green
        height: 100%
        #timer
          background-color: $light-purple
          min-width: 200px
          min-height: 200px
          margin: 10px
          margin-bottom: 0
          display: flex
          flex-flow: nowrap column
          justify-content: center
          align-items: center
          border-radius: 10px
          h1
            font-size: 30px
            font-weight: bolder
          #clock
            background-color: $green
            width: 120px
            height: 120px
            margin: 15px
            border-radius: 50%
        #pomodori
          background-color: $light-purple
          list-style-type: none
          margin: 10px
          border-radius: 5px
          .pomodoro
            background-color: $green
            padding: 10px
            text-align: center
            border-radius: 5px
            margin: 5px
