$dark-purple: #3b0d3b
$light-purple: #b247b2
$green: #6fc72e
$red: #e34d00

*
  margin: 0
  padding: 0

#dashboard
  background-color: $dark-purple
  display: flex
  flex-direction: column
  height: 100vh
  #header
    background-color: $green
  #main
    height: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    #left-flap
      background-color: $green
    #workspace
    #right-flap
      background-color: $green

#loginform
  background-color: $green
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  padding: 10px
  input
    padding: 5px
    text-align: center
    background-color: lighten($light-purple, 20)
    color: $dark-purple
    border-color: $dark-purple
    border-radius: 10px
    font-size: 20px
    font-weight: bold
    flex-grow: 1
    margin: 0px 5px
  button
    padding: 5px 20px
    text-align: center
    background-color: lighten($green, 20)
    color: $dark-purple
    border-color: $dark-purple
    border-radius: 10px
    font-size: 20px
    font-weight: bold
    margin: 0px 5px
