* {
  margin: 0;
  padding: 0;
}

#dashboard {
  background-color: #3b0d3b;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#dashboard #main {
  border-top: 2px solid #6fc72e;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dashboard #main #left-flap {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  height: 100%;
}

#dashboard #main #left-flap #left-flap-content {
  background-color: #3b0d3b;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  border-right: 2px solid #6fc72e;
  height: 100%;
}

#dashboard #main #left-flap #left-flap-content #inputs {
  display: flex;
  flex-flow: nowrap column;
  border-radius: 5px;
  margin: 5px;
}

#dashboard #main #left-flap #left-flap-content #inputs input {
  padding: 5px;
  background-color: #6fc72e;
  padding: 5px;
  border-color: #b247b2;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

#dashboard #main #left-flap #left-flap-content #buttons {
  display: flex;
  flex-flow: nowrap column;
  border-radius: 5px;
}

#dashboard #main #left-flap #left-flap-content #buttons button {
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  font-size: 20px;
  font-weight: bolder;
  background-color: #6fc72e;
  color: #3b0d3b;
}

#dashboard #main #left-flap #left-arrow {
  width: 0;
  height: 0;
  border: 10px solid #6fc72e;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  margin-left: 5px;
  cursor: pointer;
}

#dashboard #main #left-flap #left-arrow:hover {
  border: 10px solid #e34d00;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

#dashboard #main #workspace {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard #main #workspace #registration {
  display: flex;
  flex-flow: nowrap column;
}

#dashboard #main #workspace #registration input {
  margin: 5px;
}

#dashboard #main #workspace #registration button {
  border-radius: 0;
  padding: 10px;
  margin: 5px;
}

#dashboard #main #right-flap {
  height: 100%;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
}

#dashboard #main #right-flap #right-arrow {
  width: 0;
  height: 0;
  border: 10px solid #6fc72e;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin-right: 5px;
  cursor: pointer;
}

#dashboard #main #right-flap #right-arrow:hover {
  border: 10px solid #e34d00;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

#dashboard #main #right-flap #right-flap-content {
  display: flex;
  flex-flow: nowrap column;
  border-left: 2px solid #6fc72e;
  height: 100%;
}

#dashboard #main #right-flap #right-flap-content #timer {
  background-color: #b247b2;
  min-width: 200px;
  min-height: 200px;
  margin: 10px;
  margin-bottom: 0;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#dashboard #main #right-flap #right-flap-content #timer h1 {
  font-size: 30px;
  font-weight: bolder;
}

#dashboard #main #right-flap #right-flap-content #timer #clock {
  background-color: #6fc72e;
  width: 120px;
  height: 120px;
  margin: 15px;
  border-radius: 50%;
}

#dashboard #main #right-flap #right-flap-content #pomodori {
  background-color: #b247b2;
  list-style-type: none;
  margin: 10px;
  border-radius: 5px;
}

#dashboard #main #right-flap #right-flap-content #pomodori .pomodoro {
  background-color: #6fc72e;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}
