* {
  margin: 0;
  padding: 0;
}

#dashboard {
  background-color: #3b0d3b;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#dashboard #header #standard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#dashboard #header #weekview {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  background-color: #b247b2;
}

#dashboard #header #weekview .day {
  background-color: #e34d00;
  border: 2px solid #6fc72e;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
}

#dashboard #header:hover #weekview {
  display: flex;
}

#dashboard #main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dashboard #main #left-flap {
  background-color: #6fc72e;
}

#dashboard #main #right-flap {
  background-color: #6fc72e;
}
